BODY
{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	background-color: white;
	color: black;
	margin: 0px;
	overflow-y: scroll;
}

.SesHdr
{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFDDEEFF, endColorstr=#FFFFFFFF, GradientType=0);	
	border-bottom: 2px solid D3D3C9;
	background-color: #D3D3C9;
	color: black;
	font-weight: bold;
	margin: 0px;
	padding: 0px;
	font-size: 8pt;
	width: 100%;
}

.SesHdr IMG
{
	vertical-align: absmiddle;
	border: 0px;
}

.ReqList
{
	font-size: 8pt;
}

.ReqList A:visited, .ReqList A:link
{
	color: black;
	text-decoration: none;
}

.ReqList A:hover
{
	background-color: blue;
	color: white;
	text-decoration: none;
}

.ReqHdr
{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFDDEEFF, endColorstr=#FFFFFFFF, GradientType=0);	
	background-color: #D3D3C9;
	color: black;
	font-weight: bold;
	padding: 0px;
	margin: 0px;
	font-size: 8pt;
	width:100%;
	height:100%;
}

.ReqHdr IMG
{
	vertical-align: middle;
	border: 0px;
}

.ItemList
{
	font-size: 8pt;
	min-height: 16px;
	margin-left: 1px;
	padding-left: 1px;
	border-left-style:solid;
	border-left-width: 1px;
	border-left-color: white;
	font-family: Courier New;
	white-space: nowrap;
}

.ItemList IMG
{
	vertical-align: absmiddle;
	border: 0px;
}

.ItemMsg
{
	font-size: 8pt;
	height: 16px;
	margin-left: 1px;
	padding-left: 1px;
	border-left-style:solid;
	border-left-width: 1px;
	border-left-color: white;
	font-family: Courier New;
	color: gray;
	white-space: nowrap;
}

.ItemMsg IMG
{
	vertical-align: absmiddle;
	border: 0px;
}

.ItemQry
{
	font-size: 8pt;
	height: 16px;
	margin-left: 1px;
	padding-left: 1px;
	border-left-style:solid;
	border-left-width: 1px;
	border-left-color: white;
	font-family: Courier New;
	color: #A000A0;
	white-space: nowrap;
}

.ItemQry IMG
{
	vertical-align: absmiddle;
	border: 0px;
}

.ItemUser
{
	font-size: 8pt;
	height: 16px;
	margin-left: 1px;
	padding-left: 1px;
	border-left-style:solid;
	border-left-width: 1px;
	border-left-color: white;
	font-family: Courier New;
	color: darkgreen;
	white-space: nowrap;
}

.ItemUser IMG
{
	vertical-align: absmiddle;
	border: 0px;
}

.ItemNote
{
	position: relative;
	display: none;
	padding: 2px;
}

.NoteTbl
{
	font-size: 8pt;
	background-color: #EEFFEE;
	color: darkblue;
}

.SQL
{
	font-size: 8pt;
	background-color: #FFEEEE;
	color: darkblue;
	padding: 2px;
}

.SQLTbl
{
	font-size: 8pt;
	background-color: #EEFFEE;
	color: darkblue;
}

.Warn
{
	font-size: 8pt;
	background-color: #FFFFDD;
	color: darkblue;
	padding: 2px;
}

.ItemTime
{
	display: inline-block;
	text-align: right;
	color: darkblue;
	background-color: #EEFFEE;
}

.ProcTable
{
	border: 1px solid gray;
	width: 100%;
	vertical-align: top;
	border-collapse:collapse;
	padding: 0px;
	margin: 0px;
}

.ProcHdr
{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFDDEEFF, endColorstr=#FFFFFFFF, GradientType=0);	
	background-color: #D3D3C9;
	color: black;
	font-weight: bold;
	font-size: 8pt;
	border: 1px solid gray;
	padding: 4px;
}

.ProcHdr IMG
{
	vertical-align: middle;
	border: 0px;
}

.ProcTime
{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFEEEEEE, endColorstr=#FFFFFFFF, GradientType=0);	
	font-size: 8pt;
	text-align: right;
	border-left: 1px solid gray;
	padding: 3px;
	padding-right: 5px;
	width: 80px;
}

.ProcTool
{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFEEEEEE, endColorstr=#FFFFFFFF, GradientType=0);	
	font-size: 8pt;
	border-left: 1px solid gray;
	padding: 3px;
	padding-right: 5px;
}

.ProcItem
{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFEEEEEE, endColorstr=#FFFFFFFF, GradientType=0);	
	font-size: 8pt;
	height: 16px;
	margin-left: 1px;
	padding-left: 1px;
	border-left-style:solid;
	border-left-width: 1px;
	border-left-color: white;
	white-space: nowrap;
}

.ProcItem IMG
{
	vertical-align: middle;
	border: 0px;
}

.DttFlt
{
	font-size: 8pt;
	color: darkblue;
	margin: 0px;
}

.CmdFrm
{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#DDEEFF, endColorstr=#FFFFFFFF, GradientType=0);	
	font-size: 8pt;
	font-weight: bold;
	color: black;
	margin: 5px;
}

.CmdEdit
{
	font-size: 8pt;
	color: black;
	border: solid 1px #7F9DB9;
	margin-top: 5px;
	margin-bottom: 5px;
}

.TraceToken
{
	font-size: 8pt;
	background-color: #FFFFCC;
	color: black;
}


.DisPFld
{
	font-size: 8pt;
	background-color: #D0D0D0;
	color: darkblue;
}

.npf
{
	font-size: 8pt;
	background-color: #FFFFCC;
	color: darkblue;
}

.lpf
{
	font-size: 8pt;
	background-color: #E6F0FA;
	color: darkblue;
}

.spf
{
	font-size: 8pt;
	background-color: #E0E0E0;
	color: black;
}

.dpf
{
	font-size: 8pt;
	background-color: #E0E0E0;
	color: darkblue;
}

.hpf
{
	font-size: 8pt;
	background-color: white;
	color: gray;
}


.npfh
{
	font-size: 8pt;
	background-color: #FFFFCC;
	color: darkblue;
	border: 1px solid green;
}

.lpfh
{
	font-size: 8pt;
	background-color: #E6F0FA;
	color: darkblue;
	border: 1px solid green;
}

.spfh
{
	font-size: 8pt;
	background-color: #E0E0E0;
	color: black;
	border: 1px solid green;
}

.dpfh
{
	font-size: 8pt;
	background-color: #E0E0E0;
	color: darkblue;
	border: 1px solid green;
}

.hpfh
{
	font-size: 8pt;
	background-color: white;
	color: gray;
	border: 1px solid green;
}

.panhdr
{
	font-size: 8pt;
	background-color: white;
	color: black;
	position: absolute;
	overflow: hidden;
}

.pantrc
{
	font-size: 8pt;
	background-color: white;
	color: black;
	border: 1px solid green;
	overflow: hidden;
}

.pannpf
{
	padding: 2px;
	font-size: 8pt;
	background-color: #FFFFCC;
	color: darkblue;
	border: 1px solid green;
	position: absolute;
	overflow: hidden;
}

.panlpf
{
	padding: 2px;
	font-size: 8pt;
	background-color: #E6F0FA;
	color: darkblue;
	border: 1px solid green;
	position: absolute;
	overflow: hidden;
}

.panspf
{
	padding: 2px;
	font-size: 8pt;
	background-color: #E0E0E0;
	color: black;
	border: 1px solid green;
	position: absolute;
	text-align: center;
	overflow: hidden;
}

.pandpf
{
	padding: 2px;
	font-size: 8pt;
	background-color: #E0E0E0;
	color: darkblue;
	border: 1px solid green;
	position: absolute;
	overflow: hidden;
}

.selnode
{
	color: blue;
	font-weight: bold;
}

.treetrc
{
	font-size: 8pt;
	background-color: #FFEEEE;
	color: darkblue;
	padding: 2px;
}

.cpbody
{
	background-color: #336699;
}

.cpmain
{
	width: 100%;
}

.cptd
{
  border-right: 1px solid #618BB5;
}

.cpspan
{
	font-size: 8pt;
	font-weight: bold;
	color: white;
	padding-left: 10px;
}

.cpspan IMG
{
	border: 0px;
	vertical-align: absmiddle;
	margin-left: 4px;
}

.HelpReqDiv
{
  color: #336699;
  position: absolute;
  overflow: none;
  background-color: #FFFFAA;
  border-left: 2px dashed #336699;
  border-right: 2px dashed #336699;
  border-top: 2px solid #336699;
  border-bottom: 2px solid #336699;
	filter:progid:DXImageTransform.Microsoft.Fade(duration=0.500,overlap=1)
}

.HelpItemDiv
{
  color: #336699;
  position: absolute;
  overflow: none;
  background-color: #FFFFAA;
  border-left: 2px dashed #336699;
  border-right: 2px dashed #336699;
  border-top: 2px solid #336699;
  border-bottom: 2px solid #336699;
  filter:progid:DXImageTransform.Microsoft.Fade(duration=0.500,overlap=1)
}

.HelpReqTop
{
  font-family: Tahoma;
  font-size: 9pt;
  font-weight: bold;
  background-color: #618BB5;
  height: 10px;
  color: white;
  cursor: move;
}

.HelpItemTop
{
  font-family: Tahoma;
  font-size: 9pt;
  font-weight: bold;
  background-color: #618BB5;
  height: 10px;
  color: white;
  cursor: move;
}

.HelpReqBody
{
  font-family: Tahoma;
  font-size: 9pt;
  height: 100%;
  overflow:auto;
  color: black;
}

.HelpItemBody
{
  font-family: Tahoma;
  font-size: 9pt;
  height: 100%;
  overflow:auto;
  color: black;
}

.HelpInputArea
{
  font-family: Tahoma;
  font-size: 9pt;
  width: 100%;
  height: 100%;
  color: black;
}

.HelpInputDiv
{
  font-family: Tahoma;
  font-size: 8pt;
  font-style: normal;
  text-decoration: none;
  font-weight: normal;
  width: 32px;
}

.HelpReqBottom
{
  height: 10px;
  color: 336699;
  font-family: Tahoma;
  font-size: 8pt;
  text-align: right;
}

.HelpItemBottom
{
  height: 10px;
  color: 336699;
  font-family: Tahoma;
  font-size: 8pt;
  text-align: right;
}

.HelpReqBottom IMG
{
  vertical-align: text-bottom;
}

.HelpItemBottom IMG
{
  vertical-align: text-bottom;
}

.HelpCurs
{
	position:absolute;
	z-index:100;
}

.HelpResize
{
  cursor: NW-resize;
}

.HelpSwitch
{
  cursor: hand;
}

