::-ms-clear
{
  display: none;
}

/* ************************************************************* */
/* Classe applicata ai radio su IE10; al contrario degli altri   */
/* il pallino non ha dimensione fissa ma si adatta..             */
/* con queste configurazioni viene come gli altri                */
/* ************************************************************* */
.radio-ie
{
	height: 14px;
  width: 14px;
  margin: 2px;
}

.frame-toolbar-caption, .panel-status-qbe, .panel-status-data, .panel-status-updated, .book-toolbar-status
{
  vertical-align: bottom;
}

.panel-toolbar-qbetip, .panel-toolbarsmall-qbetip
{
	vertical-align: 1px;
}

.frame-toolbarsmall-caption, .panel-statussmall-qbe, .panel-statussmall-data, .panel-statussmall-updated, .book-toolbarsmall-status
{
  vertical-align: bottom;
}

.toolbar-button
{
  padding-left: 13px;
  padding-right: 13px;
  vertical-align: bottom;
}

.book-span-combo
{
  height: auto !important;
  margin-top: 2px;
}

.frame-toolbar-icon
{
  vertical-align: top;
  margin-top: 4px;
}
