::-ms-clear 
{
  display: none;
}

/* ************************************************************* */
/* Classe applicata ai radio su IE10; al contrario degli altri   */
/* il pallino non ha dimensione fissa ma si adatta..             */
/* con queste configurazioni viene come gli altri                */
/* ************************************************************* */
.radio-ie
{
	height: 14px;
  width: 14px;
  margin: 2px;
}

.frame-toolbar-caption, .panel-status-qbe, .panel-status-data, .panel-status-updated, .book-toolbar-status
{
  vertical-align: bottom;
}

.panel-toolbar-qbetip, .panel-toolbarsmall-qbetip
{
	vertical-align: 1px;
}

.frame-toolbarsmall-caption, .panel-statussmall-qbe, .panel-statussmall-data, .panel-statussmall-updated, .book-toolbarsmall-status
{
  vertical-align: bottom;
}

.toolbar-button
{
  padding-left: 13px;
  padding-right: 13px;
  vertical-align: bottom;
  background: linear-gradient(180deg, #F9FDFF, #CFE1EF);
  border-radius: 4px;
}

.main-button-hover, .form-button-hover, .frame-button-hover
{
  background: linear-gradient(180deg, #F1F4FF, #F8FBFD);
}

.main-button-press, .form-button-press, .frame-button-press
{
  background: linear-gradient(180deg, #E0ECE8, #F6F1E6);
}

.book-span-combo
{
  height: auto !important;
  margin-top: 2px;
}

.frame-toolbar-icon
{
  vertical-align: top;
  margin-top: 4px;
}
